<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
	<div class="container">
<div class="card text-center">
  <div class="card-header">
    <h1>Weather forecast for Moscow for 5 days</h1>
  </div>
  <div class="card-body">
<table class="table table-striped table-dark">
	 		<thead>
	 		  <tr>
	 		    <th style="text-align: center !important;" scope="col">ID</th>
	 		    <th style="text-align: center !important;" scope="col">WEATHER</th>
	 		    <th style="text-align: center !important;" scope="col">WIND</th>
	 		    <th style="text-align: center !important;" scope="col">CREATED</th>
	 		    <th style="text-align: center !important;" scope="col">APPLICABLE</th>
	 		    <th style="text-align: center !important;" scope="col">MIN</th>
	 		    <th style="text-align: center !important;" scope="col">MAX</th>
	 		    <th style="text-align: center !important;" scope="col">TEMP</th>
	 		  </tr>
		 	</thead>
		 	<tbody>
		 	    {% for item in data %}
					<tr>
						<td style="text-align: center !important;">{{item[0]}}</td>
				        <td style="text-align: center !important;">{{item[1]}}</td>
				        <td style="text-align: center !important;">{{item[2]}}</td>
				        <td style="text-align: center !important;">{{item[3]}}</td>
				        <td style="text-align: center !important;">{{item[4]}}</td>
				        <td style="text-align: center !important;">{{item[5]}}</td>
				        <td style="text-align: center !important;">{{item[6]}}</td>
				        <td style="text-align: center !important;">{{item[7]}}</td>
					</tr>
				{% endfor %}
		 	</tbody>
		</table>


		<div class="d-grid gap-2">
  			<a href="{{ url_for('update') }}" class="btn btn-primary btn-lg btn-block btn-success" role="button" aria-pressed="true">Update</a>
         	<a href="{{ url_for('stress') }}" class="btn btn-primary btn-lg btn-block btn-danger" role="button" aria-pressed="true">Stress</a>
		</div>
  </div>
  <div class="card-footer text-muted" style="color: #fff !important;background-color: #000  !important;">
    Created by Vladislav Borodin for EPAM Devops School 2021
  </div>
</div>    	







	</div>
</body>
</html>