﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
	<div class="container">



		<form class="form-inline" method="post" action="{{ url_for('results') }}">
                    <div>
                        
                        <h style="font-size: x-large;">Weather Forecast Application</h>
                        <p>Just pick up a date in the below form,<br> and you will see the forecast for this day.<br></p>
                        <span class="input-group-addon">Please select a date:</span>
                        <div class="select">
    
                            <select name="date_select" class="select">
                            {% for date in data %}
                                <option class="select"  value="{{ date }}">{{date}}</option>
                            {% endfor %}<br/>
                            </select>

                            <div class="select_arrow">
                            </div>

                            <button class="myButton" type="submit">Forecast</button>

                        </div>
    
                    </div>
                      
                </form>

<div id="table-scroll">
                    <table border="1" style="width:60px; color:white ; border: 2cm;">
                        <caption align="top">Weather results for {{select}} in Moscow</caption>
                            <tr style="border: 4px; border-radius: 2cm;">
                                <th id="id">ID</th>
                                <th id="weather">WEATHER</th>
                                <th id="wind_direction">WIND_DIRECTION</th>
                                <th id="created">CREATED</th>
                                <th id="applicable">APPLICABLE</th>
                                <th id="temp_min">MIN</th>
                                <th id="temp_max">MAX</th>
                                <th id="temp">TEMP</th>
                            </tr>
                            {% for i in date_weather %}
                            <tr>
                                <td>{{ i[0] }}</td>
                                <td>{{ i[1] }}</td>
                                <td>{{ i[2] }}</td>
                                <td>{{ i[3] }}</td>
                                <td>{{ i[4] }}</td>
                                <td>{{ i[5] }}</td>
                                <td>{{ i[6] }}</td>
                                <td>{{ i[7] }}</td>
                            </tr>
                            {% endfor %}
                    </table>
                </div>
            </div>


		<div class="d-grid gap-2">
  			<a href="{{ url_for('update') }}" class="btn btn-primary btn-lg btn-block btn-success" role="button" aria-pressed="true">Update</a>
         	<a href="{{ url_for('stress') }}" class="btn btn-primary btn-lg btn-block btn-danger" role="button" aria-pressed="true">Stress</a>
		</div>
  </div>
  <div class="card-footer text-muted" style="color: #fff !important;background-color: #000  !important;">
    Created by Vladislav Borodin for EPAM Devops School 2021
  </div>
</div>    	







 



	</div>
</body>
</html>